<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
=====================================================
			     -:- Z-Programing -:-
=====================================================
 * @PROJECT	: Product Slider Pro [ Magebay.com ]
 * @AUTHOR	: Zuko
 * @FILE	: events.xml
 * @CREATED	: 9:51 AM , 10/03/2016
 * @DETAIL	: 
=====================================================
=====================================================
**/
-->
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='urn:magento:framework:Event/etc/events.xsd'>
    <event name='layout_generate_blocks_after'>
        <observer
                name='Magebay\Pslider\Observer\LayoutGenerateBlockBefore'
                instance='Magebay\Pslider\Observer\LayoutGenerateBlockBefore'
        />
    </event>
</config>